node_modules/
.DS_Store
.vocde
# Compiled class file
*.class
out
# Log file
*.log
.idea
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
*.o
*.exe
