extends ./layout
block content
  if email
    p congratulations on signing up! please login below
  form(action='/login', method='POST')
    fieldset
      legend Log in
      p
        label Email
        input(name='user[email]', type='text' value=email)
      p
        label Password
        input(name='user[password]', type='password')
      p
        button(type='submit') submit
      p
        a(href='/') Go Back
